body {
  font-family: 'Open Sans', sans-serif;
}

#header {
  width: 100%;
  height: 14vw;
  text-align: center;
  margin-bottom: 15px;
}

.logo {
	font-family: 'Merienda One', cursive;
	font-size: 4vw;
	text-align:center;
	margin: 2% 0;
}

.logo a {
  text-decoration: none;
  color: #FF686B;
}

nav {
	background-color: #FF686B;
	color: white;
	width: 98vw;
	display: flex;
	margin-bottom: 5%;
	justify-content: space-around;
	flex-direction: row;
}

nav div:first-child {
	margin-left: 10%;
}

nav div:last-child {
  margin-right: 10%;
}

nav div {
  text-align: center;
  height: auto;
  font-size: 1.5vw;
  text-decoration: none;
  padding: 2%;
}

nav div:hover{ 
  background-color: #FFA69E;
  cursor: pointer;
}

.main {
  width: 890px;
  margin: 10px auto;
  display: flex;
}

.left {
  width: 640px;
  position: relative;
}

.right {
  margin-left: 10px;
  width: 230px;
}

.title {
  margin-bottom: 5px;
  padding: 10px;
  background-color: #FFA69E;
	text-align: center;
}
.objects {
	width: 100%;
	height: 115px;
}

.objects img {
	width: 80px;
	height: 80px;
}

#current{
	background-color: #FFA69E;
}

.left {
  width: 640px;
}

.right {
  width: 230px;
}

.cat {
  width: 80px;
  height: 80px;
}

.man {
  width: 80px;
  height: 80px;
}

.cam {
	position: absolute;
  top: 545px;
  left: 0;
  right: 0;
  height: 50px;
  background-color: rgba(162, 187, 202, 0.5);
  text-align: center;
  line-height: 50px;
	font-size: 25px;
  display: none;
}

.cam:hover, #img_btn:hover {
	cursor: pointer;
	background-color: rgba(128, 154, 188, 0.5);
}

#img_btn {
  position: absolute;
  left: 0;
  right: 0;
  height: 50px;
  background-color: rgba(162, 187, 202, 0.5);
  text-align: center;
  line-height: 50px;
  top: 1025px;
  font-size: 25px;
  display: none;
}

.cam_btn, .img_btn {
	width: 50px;
	height: 50px;
}

.right__photos-min {
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
  padding: 0.8rem 0.8rem 2.5rem 0.8rem;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  background: white;
}

.right__photos-min:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6),0 6px 20px 0 rgba(0,0,0,0.39);
}

.del:hover {
  filter: grayscale(100%);
}

#cat {
  position: absolute;
  width: 240px;
  height: 180px;
  top: 115px;
  left: 180px;
}
#man {
  position: absolute;
  width: 240px;
  height: 180px;
  top: 315px;
  left: 100px;
}

#webcam {
  display: none;
}

.like_btn,
.dislike_btn {
  width: 22px;
  height: 22px;
  margin-top: 5px;
}

.like_btn {
  margin-left: 5px;
  margin-right: 5px;
}

.like_btn:hover,
.dislike_btn:hover {
  cursor: pointer;
}

.comment {
  display: block;
  font-size: 16px;
  overflow-wrap: break-word;
}
.like_count, .dislike_count {
  font-size: 14px;
  margin-right: 5px;
}

#webcam {
  width: 100%;
}

label {
  font-size: 18px;
}

#login {
  width: 250px;
  height: 300px;
  margin: auto;
  padding: 5px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#feed {
	padding: .5vw;
	display: flex;
	font-size: 0;
	flex-wrap: wrap;
	flex-direction: column;
	flex-flow: row wrap;
}

#feed .img {
  width: 200px;
  margin: .5vw;
  flex: auto;
}

/* #feed .right__photos-min:hover { */
  /* filter: blur(1px); */
/* } */

.window_header {
  height: 32px;
  background-color: #FF686B;
  color: white;
}

.window_container {
  width: 80%;
  height: 800px;
  margin: auto;
  padding: 0;
  position: absolute;;
  background-color: #fff;
  border: 1px solid #888;
  -webkit-animation-name: animate;
  -webkit-animation-duration: 0.5s;
  animation-name: animate;
  animation-duration: 0.5s;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#window {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0,0,0, 0.4);
}

#window_img {
  width: 100%;
  max-width: 680px;
  max-height: 550px;
  margin: 10px auto 0;
  display: block;
}

.close:hover {
  color: #757575;
  cursor: pointer;
}

.close {
  float: right;
  margin-right: 20px;
  font-size: 24px;
}

#comment {
  width: 85%;
  height: 150px;
  margin: 10px auto;
  display: block;
  font-size: 18px;
}

.send_btn {
  width: 80px;
  height: 40px;
  margin: 0 auto;
  background-color: #FF686B;
  border: 2px solid #FF686B;
  color: white;
  text-align: center;
  line-height: 40px;
  transition-duration: 0.4s;
}

.send_btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

@-webkit-keyframes animate {
  from {top: -500px; opacity: 0}
  to {top: 0; opacity: 1}
}

@keyframes animate {
  from {top: -500px; opacity: 0}
  to {top: 0; opacity: 1}
}

footer {
  background-color: #FF686B;
  color: white;
  text-align: center;
  padding: 0.5vw;
  margin-top:4vw;
}

#login {
  position: relative;
  width: 250px;
  height: 250px;
  margin: auto;
  background-color: white;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

#login form {
  margin-top: 15px;
}

.links {
  margin-top: 8px;
  text-align: center;
}

.links a {
  text-decoration: none;
  padding: 10px;
}

.title {
  text-align: center;
  font-size: 24px;
  background-color: #FFA69E;
  margin-bottom: 10px;
  color: white;
}

#login input {
  width: 245px;
  height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}

#login .sub {
  width: 250px;
  height: 40px;
  margin: 15px auto 20px;
  background-color: #FF686B;
  border: 2px solid #FF686B;
  color: #fff;
  text-align: center;
}

#login .signup {
  width: 250px;
  height: 40px;
  margin: 5px auto 20px;
  background-color: #FF686B;
  border: 2px solid #FF686B;
  color: #fff;
  text-align: center;
}
.sub:hover {
  background-color: #fff;
  color: black;
  cursor: pointer;
  transition-duration: 0.4s;
}

@media screen and (max-width: 900px) {
  .left { width: 400px; }
  .cam { top: 365px; }
  .main { width: 640px; }
  #canvas { width: 400px;}
  .img_btn {top: 668px;}
}
@media screen and (max-width: 660px) {
  .main {display: inline; width: 450px;}
  .right {width: 100%; max-width: 400px; margin-right: auto; margin-left: auto;}
  .left {margin-left: auto; margin-right: auto;}
}
